<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>MasterEdu</title>
  </head>
  <body>
    
    <nav id="bg-nav" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/inicio"><i class="fas fa-graduation-cap"></i> Master Edu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/inicio">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/info">Informações</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Estude
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/revise">Revise</a>
                    <a class="dropdown-item" href="/materiais">Baixar Material</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/teste">Teste Conhecimento</a>
                </div>
                </li>
                <% if(currentUser){ %>
                    <form class="form-inline" action="/revise" method="GET">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Pesquise" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                <% } %>
            </ul>
            

            <ul class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                    <li class="nav-item mr-2">
                    <a class="nav-link" href="/registro">Registrar <i class="fas fa-user-plus"></i></a>
                    </li>
                    <li class="nav-item mr-2">
                    <a class="nav-link" href="/login">Login <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                <%} else {%>
                    <li class="nav-item mr-2">
                            <a class="nav-link" href="/#">Usuário <%= currentUser.username %></a>
                        </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/logout">Sair <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                <%}%>
            </ul>

            </div>
        </div>
    </nav>

    <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length >0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
