<% include partials/header %>

<form action="/revise/<%= post._id %>?_method=PUT" method="POST">
    <div id="form">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" name="post[title]" class="form-control" id="title" value="<%= post.title %>">
        </div>
        <div class="form-group">
            <label for="img">Imagem</label>
            <input type="text" name="post[img]" class="form-control" id="img" value="<%= post.image %>">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea name="post[content]" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= post.content%></textarea>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<% include partials/footer %>