<% include partials/header %>

<div id="second-body">
    <table  id="widthTable" class="table">
        <thead class="thead-dark">
          <tr>
           
            <th scope="col">Professor</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Formação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>Marcos</td>
            <td>Biologia</td>
            <td>Ciências Biológica</td>
          </tr>
          <tr>
            
            <td>Jacob</td>
            <td>Matemática</td>
            <td>Matemática</td>
          </tr>
          <tr>
            
            <td>Betania</td>
            <td>Portugues e Redação</td>
            <td>Letras</td>
          </tr>
          <tr>
            
            <td>Vinicius</td>
            <td>Química</td>
            <td>Química</td>
          </tr>
          <tr>
            
            <td>Paula</td>
            <td>Geografia e História</td>
            <td>Geografica e História</td>
          </tr>
        </tbody>
      </table>


</div>

<% include partials/footer %>