<% include partials/header %>

<% if(currentUser && currentUser.isAdmin){ %>
    <a class="btn btn-primary" href="/postagem">Fazer uma Postagem</a>
<%}%>

<div class="col-md-12">
    <% if(noMatch !== undefined){ %>
        <h3><%= noMatch %></h3>
    <% } %>
</div>

<div class="posts">
<div class="row">
    <% posts.forEach(function(post) { %>
        <div class="col-lg-6">
            <a href="/revise/<%= post._id %>"><h3><%= post.title %></h3></a>
            
            <img class="img-thumbnail"  src="<%= post.image %>" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam enim dolores exercitationem solut.</p>
            
        </div>
            
    <% }); %>
</div>
</div>
<% include partials/footer %>