
#bg-nav{
  background-color:#5f6775;
}

#fist-body{
  background-image: url("aleks-dorohovich-26-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width:100%;
}

.jumbotron{
  opacity: 0.8;
  width:65%;
  margin-top: 3%;
  margin-left: 20%;
  position: absolute;
}

#second-body{
  background-image: url("brushed.png");

}

#second-body h2{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
}

#third-body{
background-image: url("bgbody.png");
}

#footer{
  background-color: #5f6775;
  height: 150px;
  text-align: center;
  color:white;
  position: relative;
}

.photo{
  height: 100px;
  width: 150px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}

#widthTable{
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  position: absolute;
}

.borderTable{
  border-bottom: 1px solid #5f6775;
}

.table td{
  border: 1px solid black;
}

#form{
  width: 60%;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, .4);
  padding: 15px;
  border-radius: 25px;
}

.posts{
  width:70%;
  margin: 100px auto;
}

#show{
  width:60%;
  margin: 50px auto;
}

#profile img{
  width: 150px;
  margin: 0 auto;
}

#profile{
  width:40%;
  margin: 0 auto;
}

.centered{
  margin-left: 20%;
}

/*info*/

.blurb h2 {
  color: #1a3766;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
   color: #505d72;
   font-weight: 100;
   font-size: 1.125rem;
   line-height: 2;
}

.content {
   padding-top: 100px;  
   padding-bottom: 100px;
}



#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

#comments{
  border: 1px rgba(0, 0, 0, .2) solid;
  padding: 30px;
  margin-bottom: 50px; 
}

.comment{
  background-color: #5f6775;
}

#comentario{
  background-color: rgba(0, 0, 0, .1);
  padding: 10px;
  margin-bottom: 20px;
}

div p{
  font-family: 'Roboto', sans-serif;
}

img + p{
  font-size: 18px;
}